@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

a:link {
  color: #545454;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  color: #545454;
  text-decoration: none;
}



body {
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


img {
  width: 600px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.left-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  list-style-type: none;
  
}

.right-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  list-style-type: none;
  
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eeeeee;
}

button {
  font-family: Roboto, sans-serif;
  border: 1px solid #eeeeee;
  padding: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
